.App {
  text-align: center;
}

header {
  background-color: #009933;
  color: #ffffff;
  display: flex;
  padding: 0;
  height: 158px;
  margin-bottom: 0; /* Elimina el margen inferior */
}

header img {
  max-width: relative; /* Ajusta la imagen al ancho del contenedor */
  height: relative; /* Ajusta la altura automáticamente */
  margin-bottom: 0; /* Elimina el margen inferior */
}

#logo {
  width: auto; /* Ajusta el ancho de la imagen y el logo automáticamente */
  max-height: auto; /* Ajusta la altura al 100% del contenedor (header) */
}

#logo {
  margin: 0 auto; /* Establece el margen automático a los lados para centrar el logo */
}



/* Estilo para la barra de navegación (nav) */
nav {
  background-color: #006633; /* Fondo negro */
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  color: white;
}

nav li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;

}

nav a {
  text-decoration: none;
  color: #006633; /* Verde brillante */
}

/* Cambiar el color del enlace al pasar el ratón por encima */
nav a:hover {
  color: #ffffff; /* Blanco */
}

/* Estilo para el elemento article */
article {
  display: flex; /* Establece un contenedor flexible */
  background-color: #202020;
}

/* Estilo para el elemento aside (lista vertical lateral) */
aside {
  width: 200px;
  height: 580px;
  padding: 20px;
  background-color: #333333;
  color: #fff;
  margin-right: 10px; /* Agrega un espacio a la derecha del aside */
}

/* Estilo para los elementos de la lista vertical */
aside ul {
  list-style: circle; /* Elimina los marcadores de lista */
  padding-left: 30px;
}

aside li {
  margin-bottom: 10px; /* Agrega espacio entre elementos de la lista */
  cursor: pointer;
}

/* Estilo para el contenido Chess a la derecha */
.Chess {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  color: #333;
}

.app-container.sidebar-open aside {
  display: block;
}

/* Estilo para ocultar la barra lateral */
.app-container.sidebar-closed aside {
  display: none;
}

/* Estilo para el botón de alternar la barra lateral */
.toggle-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #669933;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para la flecha izquierda */
.arrow-left::before {
  content: '\2190'; /* Código Unicode para la flecha izquierda */
  font-size: 20px;
  color: white;
}

/* Estilo para la flecha derecha */
.arrow-right::before {
  content: '\2192'; /* Código Unicode para la flecha derecha */
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 650px) {
  header {
    height: auto; /* Ajusta la altura automáticamente */
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  header img {
    height: auto; /* Ajusta la altura automáticamente */
    margin-bottom: 10px; /* Agrega espacio entre la imagen y el texto */
  }

  nav {
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  nav li {
    display: block; /* Muestra cada elemento en su propia línea */
    margin: 10px 0; /* Agrega espacio entre elementos */
  }

  /* Otros estilos específicos para pantallas más pequeñas... */
}