.App {
  text-align: center;
}

/* Estilo para el encabezado (header) */
header {
  background-color: #009933; /* Verde oscuro */
  color: #ffffff; /* Texto blanco */
  display: flex;
  padding: 0px;
  height: 178px;
}

header img {
  height: 100%
}

#logo {
  margin-left: 12%;
  margin-right: 12%;
}

/* Estilo para la barra de navegación (nav) */
nav {
  background-color: #006633; /* Fondo negro */
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

nav li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #006633; /* Verde brillante */
}

/* Cambiar el color del enlace al pasar el ratón por encima */
nav a:hover {
  color: #ffffff; /* Blanco */
}

/* Estilo para el elemento article */
article {
  display: flex; /* Establece un contenedor flexible */
  background-color: #202020;
}

/* Estilo para el elemento aside (lista vertical lateral) */
aside {
  width: 200px;
  height: 580px;
  padding: 20px;
  background-color: #333333;
  color: #fff;
  margin-right: 10px; /* Agrega un espacio a la derecha del aside */
}

/* Estilo para los elementos de la lista vertical */
aside ul {
  list-style: circle; /* Elimina los marcadores de lista */
  padding-left: 30px;
}

aside li {
  margin-bottom: 10px; /* Agrega espacio entre elementos de la lista */
  cursor: pointer;
}

/* Estilo para el contenido Chess a la derecha */
.Chess {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  color: #333;
}



