#principal {
    display: flex;
}

#Chessboard {
    padding: 20px;
}

#tools {
    display: flex;
    margin: 1px;
    width: 600px;
    padding: 10px;
    color: white;
}

#mainTools {
    margin: 1px;
    width: 250px;
    padding: 5px;
}

#comment {
    margin: 1px;
    border-style: solid;
    border-color: #fffafa;
    margin-top: 25px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    position: relative;
    text-align: center;
}

#comment::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #000000;
}

#comment::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    border-width: 10px;
    margin-left: -10px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

#time {
    margin: 1px;
    border-style: solid;
    border-color: #ffffff;
    height: 200px;
    margin-top: 10px;
    text-align: center;
}

#kwaii {
    width: 100%;
    text-align: center;
    cursor: no-drop;
}

/* Media Query para ocultar la imagen kwaii en pantallas más pequeñas */
@media only screen and (max-width: 700px) and (max-height: 850px) {
    #principal {
        width: 100%;
        display: inline;
    }

    

    #tools {
        width: 90%;
        display: block;
    }

    #mainTools {
        display: flex;
        width: 90%;
        justify-content: center;
    }

    #comment {
        width: 50%;
        height: auto;
        margin: 5%;
        margin-left: 10%;
        padding: 10%;
    }

    #time{
        width: 50%;
        height: auto;
        padding: 10%;
    }

    #chessboard {
        width: 90%;
        margin: 10%;
    }

}