body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #333333;
}

#loggg{
  justify-content: center;
  align-items: center;
}

/* Estilo para el título de bienvenida y párrafos en Inicio.js */
  .inicio-container p {
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin: 30px;
    color: #000;
  }

/* Estilo para los títulos*/
  .inicio-header {
    color: #ffffff;
    text-align: center;
    margin: 20px ;
  }



/* Estilo para los botones de opción en Inicio.js */
  .opcion-button {
    background-color: #669933 ;
    color: white;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
    margin:  10px;
  }

  .opcion-button:hover {
    background-color: #669933;
    color: black;
    padding: 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px; /* Ajusta el margen aquí para acercar los botones al texto */
  }
  
/* Estilo para etiquetas, inputs y botones del formulario en Inicio.js */
  .form-label,
  .form-input,
  .form-button {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
  }
  
 
/* Estilo para el botón del formulario */
  .form-button {
    background-color: #669933 ;
    color: white;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
  }
   
  .form-button:hover{
    background-color: #669933 ;
    color: black;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
  }

/* Estilo para las etiquetas del formulario */
  .form-label {
    display: block;
    margin-bottom: 8px;
  }

/* Estilo para los campos de entrada del formulario */
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .inicio-container.opciones-seleccionada .contenedor-bienvenida {
    display: none;
  }

 /* Añade reglas para ocultar las opciones cuando una opción está seleccionada */
.inicio-container.opciones-seleccionada .opciones-container {
  display: none;
}

/* Estilo para el contenedor principal de Inicio.js */
.inicio-container {
  font-family: Arial, sans-serif;
  background-color: #333333;
  margin-top: 10px;
  height: auto;
  display: flex;
  width: auto;
  justify-content: center;
}

.contenedor-bienvenida{
  margin-left: 5%;
  width: 25%;
}

.opciones-container.oculto{
  padding: 10%;
}

.form-container {
  width: 100%;
  max-width: none;
  padding: 10%;
  color: #000;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: left;
  margin-left: 20%; /* Ajustado para estar en la esquina derecha y abajo */
}

/* Estilo para el contenedor de noticias en Inicio.js */
.noticias-container {
  background-color: #ffffff;
  color: #000;
  border-radius: 8px;
  text-align: center;
  margin-left: 10%;
  justify-content: center;
  max-width: 1100px;
  padding: 1%;
  margin-bottom: 1%;
}

.noticia p{
  justify-content: center;
}

.divSuperior {
  right: 0;
  padding: 1%;
  width: 50%; /* Ocupa el 100% del ancho de la pantalla */
  background-color: white;
  border-radius: 8px;
  color: black;
  text-align: center;
  margin: 5%;
  margin-left: 20%;
}



/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .inicio-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5%;
  }

  .form-container{
    width: 100%;
    max-width: none;
    margin: 20px 0;
    position: static;
  }

  .contenedor-bienvenida{
    margin: 0;
    width: 100%;
  }

  .noticias-container {
    width: 98%;
    position: static;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .divSuperior {
    width: 80%;
    top: 0;
    margin: 5%;
  }

}