body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #333333;
}

/* Estilo para el título de bienvenida y párrafos en Inicio.js */
  .inicio-container p {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin: 30px;
    color: #000;
  }

/* Estilo para los títulos h1 y h3 */
  .inicio-header {
    color: #ffffff;
    text-align: center;
    margin: 20px -245px;
  }



/* Estilo para los botones de opción en Inicio.js */
  .opcion-button {
    background-color: #669933 ;
    color: white;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
    margin: 150px 10px;
  }

  .opcion-button:hover {
    background-color: #669933 ;
    color: black;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 10px;
  }
  
/* Estilo para etiquetas, inputs y botones del formulario en Inicio.js */
  .form-label,
  .form-input,
  .form-button {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
  }
  
 
/* Estilo para el botón del formulario */
  .form-button {
    background-color: #669933 ;
    color: white;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
  }
   
  .form-button:hover{
    background-color: #669933 ;
    color: black;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
  }

/* Estilo para las etiquetas del formulario */
  .form-label {
    display: block;
    margin-bottom: 8px;
  }

/* Estilo para los campos de entrada del formulario */
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .inicio-container.opciones-seleccionada .contenedor-bienvenida {
    display: none;
  }

 /* Añade reglas para ocultar las opciones cuando una opción está seleccionada */
.inicio-container.opciones-seleccionada .opciones-container {
  display: none;
}

/* Estilo para el contenedor principal de Inicio.js */
.inicio-container {
  font-family: Arial, sans-serif;
  background-color: #333333;
  margin-top: 10px;
  justify-content: flex-end; /* Alinea en la parte inferior */
  height: 100vh;
  display: flex;
  align-items: flex-end; /* Alinea en la parte inferior */
  position: relative;
}

.form-container {
  max-width: 400px;
  padding: 20px;
  color: #000;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: left;
  margin: 20px; /* Ajustado para estar en la esquina derecha y abajo */
  position: absolute;
  right: 20px;
  bottom: 20px; /* Ajustado para estar en la esquina derecha y abajo */
}

/* Estilo para el contenedor de noticias en Inicio.js */
.noticias-container {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  color: #000;
  border-radius: 8px;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  left: 20px;
  transition: margin-top 0.3s ease-in-out;
}



