/* Estilo para el título de bienvenida y párrafos en Inicio.js */
  .inicio-container p {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin: 30px;
    color: #000;
  }

/* Estilo para los títulos h1 y h3 */
  .inicio-header {
    color: #ffffff;
    text-align: center;
    margin: 20px -245px;
  }

/* Estilo para los botones de opción en Inicio.js */
  .opcion-button {
    background-color: #669933 ;
    color: white;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
    margin: 150px 10px;
  }

  .opcion-button:hover {
    background-color: #669933 ;
    color: black;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 10px;
  }
  
/* Estilo para etiquetas, inputs y botones del formulario en Inicio.js */
  .form-label,
  .form-input,
  .form-button {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
  }
  
 
/* Estilo para el botón del formulario */
  .form-button {
    background-color: #669933 ;
    color: white;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
  }
   
  .form-button:hover{
    background-color: #669933 ;
    color: black;
    padding: 10px 15px;
    border: 006633;
    border-radius: 4px;
    cursor: pointer;
  }

/* Estilo para las etiquetas del formulario */
  .form-label {
    display: block;
    margin-bottom: 8px;
  }

/* Estilo para los campos de entrada del formulario */
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

/* Estilo para el contenedor principal de Inicio.js */
  .inicio-container {
    font-family: Arial, sans-serif;
    background-color: #333333;
    margin-top: 10px;  
    justify-content: flex-end; /* Cambiado a flex-end para alinear a la derecha */
    height: 100vh;
    display: flex;
    align-items: flex-start;
  }

/* Estilo para el contenedor de iniciar sesión y registrarse en Inicio.js */
  .form-container {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left;
    margin: 100px;
  }

/* Estilo para el contenedor de noticias en Inicio.js */
  .noticias-container {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    color: #000;
    border-radius: 8px;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    left: 20px; /* Cambiado de 'right' a 'left' */
    transition: margin-top 0.3s ease-in-out;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333333;
  }