body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white; 
}

header {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 15px;
  text-align: center;
}

.content {
  display: flex;
  background-color: #000000;
}

.left-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #333; 
  width: 250px; 
  height: 500px;
  margin-right: 30px; 
  margin-left: 15px;
  margin-top: 10px;
  background-color: #333;
  color: white; 
  border-radius: 10px; 
}

.left-box .circle {
  margin: 0 auto;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #3498db;
  border-radius: 50%;
  margin-bottom: 10px; 
}

.button {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #669933;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  display: block; 
  width: 100%; 
  border: 4px solid #006633;
}

.right-box {
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-grow: 1; 
  border: 1px solid #333333; 
  margin-top: 10px;
  text-align: center;
  background-color: #333333;
  color: white; 
  border-radius: 10px; 
}

.image-container img {
  max-width: 700px; 
  height: auto; 
}

.ranking-box {
  text-align: center;
}

.ranking-box ul {
  list-style: none;
  padding: 0;
}

.ranking-box li {
  font-size: 18px;
  margin: 5px 0;
}

.image-container2 img {
  max-width: 700px; 
  height: auto; 
}

.textarea {
  height: 200px;
  width: 700px;
  color: black; 
}

.info-box,
.comments-box {
  margin-top: 20px;
}
